*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background: #304030;
}

html {overflow-x: hidden;}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

a {
  text-decoration: none;
  color: #41e241;
}

ul {
	list-style-type: none;
}

@font-face {
    font-family: Viking;
    src: url("../fonts/VikingNormal-36VL.otf");
}

@font-face {
    font-family: Futhark;
    src: url("../fonts/Futhark.otf");
}

.container {
	width: 1400px;
	margin: 0 auto;
}

/* Header section */
.header {
	width: 100%;
    height: 130px;
    position: absolute;
    position: fixed;
    left: 0;
    z-index: 1000;
	padding: 20px;
	background: rgba(255, 229, 229, 0.3);	
}

.header__inner {
	display: flex;
	justify-content: space-between;
}

.header__logo {
	margin-top: 26px;
	font-family: 'Viking';
	color: #0c0909;
}

.header__logo h1 {
	transition: color 1s;
}

.header__logo h1:hover {
	cursor: pointer;
	color: #fff;
}

.header__menu {
	margin-top: 17px;
	color: #0c0909;
}

.header__menu .menu li{
	float: left;
	margin-left: 30px;
	font-size: 23px;
	font-family: 'Viking';
	transition: color 1s;
}

.menu li:hover {
	color: #fff;
	cursor: pointer;
}

/* Intro */
.intro {
    height: 750px;
    background: url(../img/slide_1.jpg) center no-repeat;
    background-size: cover;
}

.fix {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 750px;
}

.intro__text {
	text-align: center;
	color: #fff;
	font-family: 'Spartan';
	font-size: 50px;
	width: 70%;
	margin-left: 15%;
}

.intro__text, .pre__title {
	transition: color 1s;
}

.intro__text:hover {
	cursor: pointer;
	color: #3e6b3e;
}

.pre__title {
	color: #0e0e0e;	
}

.pre__title:hover {
	color: #fff;
}

/* Author letter section*/
.author__letter {
	padding: 30px;
	background: #87b787;
}

.author__letter__wrapper {
	display: flex;
	justify-content: space-between;
}

.letter {
	font-family: 'Viking';
	border-radius: 50%;
	border: 5px solid #5c6f5c;
	font-size: 80px;
	color: #331f1f;
	text-transform: uppercase;
	transition: color border 2s;
}

.letter:hover {
	color: #211d1d;
	cursor: pointer;
	border: 5px solid #438e43;
}

/*Author section*/
.author {
	padding: 30px;
	background: #616761;
 	-webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
 	clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
}

.author__wrapper {
	width: 700px;
	margin: 0 auto;
}

.author__heading {
	text-align: center;
	font-family: 'Spartan';
	font-size: 30px;
	margin-top: 20px;
	color: #c5c5c5;
}

.author__image {
	width: 350px;
	height: 300px;
	margin-top: 20px;
	position: relative;
	left: 22%;
	border-radius: 20px;
}

.author__image:hover {
	cursor: pointer;
	opacity: 0.5;
}

.author__text {
	margin-top: 20px;
	text-align: center;
	font-size: 23px;
	font-family: 'Spartan';
	color: #c5c5c5;
}

.author__text a:hover {
	color: #fff;
}

.author__heading:hover {
	color: #fff;
	cursor: pointer;
}

.author__content__wrapper {
	margin-top: 80px;
	display: flex;
	justify-content: space-around; 
}

.author__box {
	width: 200px;
	height: 250px;
}

.author__box h1 {
	font-family: 'Futhark';
	text-align: center;
	font-size: 80px;
	color: #08060c;
	transition: color 3s; 	
}

.author__box p {
	font-family: 'Spartan';
	text-align: center;
	font-size: 20px;
	margin-top: 20px;
	color: #c5c5c5; 	
}

.author__box h1:hover {
	color: #c5c5c5;
	cursor:pointer;
}	

/*Video*/
.video__handler {
	padding: 40px;
	background: #304030;
}

.video__wrapper {
	width: 700px;
	margin: 0 auto;
}

.video__wrapper h2 {
	text-align: center;
	font-family: 'Spartan';
	color: #fff;
}

.video {
	margin-top: 35px;
	margin-left: 78px;
}

/*Blog*/
.blog {
	padding: 70px;
	background: #4b864b;
}

.blog__wrapper {
	width: 100%;
	height: 600px;
	display: flex;
	color: #c5c5c5;
}

.news {
	text-align: center;
	margin-bottom: 50px;
	font-family: 'Spartan';
	color: #fff;
	font-size: 50px;
	transition: color 2.5s;
}

.news:hover {
	color: #2d1515;
	cursor: pointer;
}

.blog__post {
	width: 33.3333%;
	height: 600px;
	padding: 20px;
	text-align: center;
}


.blog__post h3, img, p, button {
	margin-bottom: 10px;
}

.blog__image {
	width: 236px;
	height: 304px;
}

.btn {
	margin-top: 25px !important;
	background-color: #3b503c;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	transition: background 2.5s;
}

.btn:hover {
	background: #0f4e12;
}

.pre__footer {
	padding: 50px;
	background: #254a25;
}

.footer__division{
	display: flex;
	justify-content: space-around;
}

.footer__divided {
    width: 406px;
    height: 154px;
}

.fixer {
	padding: 41px;
}

.fixed {
	color: #fff;
	padding: 15px;
}

.fixed__list {
    margin: 14px;
    font-size: 18px;
    font-family: 'Spartan';
    color: #fff;
}

.fixed__list li {
	float: left;
	margin-right: 40px;
	margin-top: 10px;
}

.location__heading {
	font-family: 'Spartan';
	margin-bottom: 10px;
	color: #fff;
}

.location__text {
	color: #fff;
	text-align: center;
}

.fixus {
	padding: 20px;
	text-align: center;
	color: #fff;
	font-family: 'Spartan';
	font-size: 19px;
}

.fixus h3 {
	margin-bottom: 10px;
}

.footer {
	padding: 40px;
	background: #0b2b0b;
	text-align: center;
	color: #c5c5c5;
	font-family: 'Spartan';
	font-size: 10px;
}